@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.navbar{
    background-color: #000000;
    border-bottom: 1px solid #404040;
}
.navbar-brand{
    color: #fff;
    font-size: 30px;
    font-family: 'Original Surfer', cursive;
}
.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active{
    color: #00b8ff;
}
.btn-create{
    margin-right: 10px;
}
